.main-bg {
  background-image: url("../images/bgship.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
.main-container {
  @apply max-w-6xl m-auto w-full px-4;
}
.frame-sm {
  background-image: url("../images/framesm.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 100%;
}
.btn-primary {
  @apply flex justify-center h-9 items-center px-1 sm:px-2 transition-all duration-300 w-full text-tiny sm:text-sm capitalize text-white hover:bg-primary bg-transparent border-2 border-primary;
}
.btn-primary {
  max-width: 118px;
  height: 38px;
}
.card-title {
  @apply uppercase text-xs sm:text-base text-white font-semibold;
}
.card-sm-title {
  @apply uppercase text-sm text-white font-semibold;
}
.input-label {
  @apply text-white text-xs capitalize font-Poppins;
}
.card-input {
  @apply bg-transparent text-xs px-1 border-b w-16 text-white focus:outline-none border-white;
}
@media screen and (max-width: 600px) {
  .btn-primary {
    height: 32px;
  }
}
@media screen and (max-width: 410px) {
  .main-frame {
    height: 245px;
  }
}
.main-frame {
}
