.navbar{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    background: #E7973D;
    border-top: 3px #F9B971 solid;
    border-bottom:3px #C3741A solid ;
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 5;
    
    
}

.navbar .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.navbar a{
    color: white;
    font-weight: normal;
    font-size: 24px;
}

.navbar .left{
    display: flex;
    align-items: center;

}

.navbar .right{
    display: flex;
}

.navbar .left p, .navbar .right p{
    margin-right: 20px;
    cursor: pointer;
}

.navbar .center img{
    height: 80px;
}

@media screen and (max-width: 500px){
    .navbar{
        height: 180px
    }

    .navbar .wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "logo"
        "nav"
        "socials";
    }

    .navbar .left p, .navbar .right p{
        margin-right: 0;
    }

    .navbar .left{
        grid-area: socials;
        width: 70%;
        margin: 5px auto;
        justify-content: space-between;

    }
    .navbar .right{
        grid-area: nav;
        width: 50%;
        margin: 10px auto;
        justify-content: space-between;

    }

    .navbar .center{
        grid-area: logo;
        margin: 0 auto;
        justify-content: space-between;
    }

    .navbar .right{
        grid-area: nav
    }
}

/* .navbar{
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
}

.navbar a{
    color: white;
    font-weight: normal;
    font-size: 24px;
}

.navbar > div:nth-of-type(1){
    width: 100%;
    background-color: #F9B971;
    height: 5px;
}

.navbar > div:nth-of-type(2){
    width: 100%;
    background-color: #E7973D;
    height: 55px;
    display: flex;
    align-items: center;
}

.navbar > div:nth-of-type(3){
    width: 100%;
    background-color:#C3741A;
    height: 5px;
    display: flex;
    align-items: center;
}

.navbar .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 100%;
}



.navbar .left{
    display: flex;
    align-items: center;
}

.navbar .left p, .navbar .right p{
    cursor: pointer;
    margin-right: 20px;
}

.navbar .center{ 
    display: flex;
    align-items: center;
} 

.navbar .center img{
    height: 60px;
}
.navbar .right{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 400px) {

    .navbar{
        height: 172px;
    }
    .navbar > div:nth-of-type(2){
        height: 100% ;
    }
    .navbar > div:nth-of-type(1), .navbar > div:nth-of-type(3){
        display: none;
    }
} */