.App {
  width: 100%;
  background-image: url("./imgs/background.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: 100% 100%;
  position: relative;
}

.roadmap {
  padding: 0%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  font-size: 50px;
  color: red;
  display: none;
}

.roadmap img {
  width: 90%;
  display: block;
}

.roadmap i {
  cursor: pointer;
}

.roadmap.open {
  display: flex;
  padding-left: 12%;
}

.whitepaper,
.terms {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
  /* display: none; */
  margin-top: 60px;
}

.whitepaper.open {
  display: flex;
}

.whitepaper i,
.terms i {
  font-size: 40px;
  color: red;
  cursor: pointer;
  margin-bottom: 30px;
  position: fixed;
  display: block;
  background: #c3741a;
}

.terms i {
  background: black;
}
.whitepaper > div,
.terms > div {
  width: 90%;
  background: #c3741a;
  color: white;
  padding: 20px;
  font-size: 1.3em;
  letter-spacing: 1px;
}
.terms > div {
  background: black;
}

@media screen and (max-width: 500px) {
  .whitepaper,
  .roadmap,
  .terms {
    margin-top: 172px;
  }
}
