*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: "Pieces of Eight";
    src: local("pieces-of-eight"),
     url("./fonts/pieces-of-eight/Pieces of Eight.ttf") format("truetype");
    font-weight: bold;
    }
  @font-face {
    font-family: "Alagard";
    src: local("alagard"),
     url("./fonts/alagard/alagard.ttf") format("truetype");
    font-weight: bold;
    }
  @font-face {
    font-family: "retro_gaming";
    src: local("retro_gaming"),
     url("./fonts/retro_gaming/retro_gaming.ttf") format("truetype");
    font-weight: bold;
    }
  
    
  
  
  